body {
	background-color: #282c34;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	font-size: calc(10px + 2vmin);
	color: white;
}


@media (min-width: 0px) {

	.App {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.puzzleGrid {
		height: 75vw;
		width: 75vw;
	}

	.paintButton {
		width: 15vw;
		height: 15vw;
		margin-bottom: 30px;
		margin-right: 0px;
	}
}

@media (min-width: 600px) and (orientation: landscape) {

	.App {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.puzzleGrid {
		width: 75vh;
		height: 75vh;
	}

	.paintButton {
		width: 15vh;
		height: 15vh;
		margin-right: 30px;
		margin-bottom: 0px;
	}
}

.App {
	display: flex;
}
.puzzleContainer {
	display: grid;
	user-select: none;
}


/*  PAINT MODE BUTTON  */

.paintButton {
	/* width: 60px;
	height: 60px; */
	padding: 0px;
	text-align: center;
}

.paintButton.fill {
	background-color: #9fbfbf;
	border: 3px solid white;
}

.paintButton.cross {
	background-color: white;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 3px solid orange;
}
.paintButton.cross::before,
.paintButton.cross::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 4px;
	background-color: orange;
}
.paintButton.cross::before {
	transform: rotate(45deg);
}
.paintButton.cross::after {
	transform: rotate(-45deg);
}

.paintButton.reset {
	background-color: #55f;
	border: 3px solid white;
}



/*  PUZZLE TARGETS  */

.columnTargets {
	display: flex;
	
	grid-column: 2;
	grid-row: 1;
	margin-bottom: 10px;
}
.rowTargets {
	display: flex;
	flex-direction: column;

	grid-column: 1;
	grid-row: 2;
	margin-right: 5px;
}

.columnHeader {
	display: flex;
	flex-direction: column;
	
	width: 100%;
	height: 100%;
	text-align: center;
	justify-content: center;
}
.rowHeader {
	width: 100%;
	height: 100%;
	align-content: center;

	text-align: center;
	white-space: pre-wrap;
}
.rowHeader span {
	margin-right: 10px;
}

.targetSuccess {
	color: gray;
}
.targetFail {
	color: lightcoral;
}
.targetNeutral {
	color: white;
}


/*  PUZZLE GRID  */

.puzzleGrid {
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(1fr));

	grid-column: 2;
	grid-row: 2;

	background-color: darkblue;
}

.gridRow {
	display: flex;
	flex-direction: row;
}

.gridTile {
	width: 100%;
	height: 100%;
	
	background-color: #9fbfbf;
	border: 1px solid white;
	
	text-align: center;
}

/* .gridTile:hover {
	background-color: #7f9f9f;
}
.gridTile:active {
	background-color: #4f6f6f;
} */


.gridTile.filled {
	background-color: #1f2f2f;
}


.gridTile.crossedOff {
	background-color: white;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.gridTile.crossedOff::before,
.gridTile.crossedOff::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 4px;
	background-color: orange;
}
.gridTile.crossedOff::before {
	transform: rotate(45deg);
}
.gridTile.crossedOff::after {
	transform: rotate(-45deg);
}